#main_mid {
	vertical-align:top;
	text-align:center;
	padding:12px;
	width:608px;
	height:370px;
	border-left:#5094a5 1px solid;
	border-right:#5094a5 1px solid;
	}
#main_mid a {
	color:#FFFFFF;
	}