body {
	background-image:url(images/bg_index1.gif);
	background-repeat:no-repeat;
	}
#right_nav {
	position:absolute;
	text-align:right;
	width:300px;
	top:51px;
	left:560px;
	font-size:16px;
	font-weight:bold;
	}
#right_nav a {
	color:#666666;
	text-decoration:none;
	}
#right_nav a:hover {
	text-decoration:underline;
	}
#mid_nav, #mid_nav_buttons {
	position:absolute;
	top:173px;
	left:101px;
	z-index:4;
	}
#mid_nav_buttons {
	visibility:hidden;
	z-index:6;
	}
#mid_img {
	position:absolute;
	top:30px;
	/*original left 505*/
	left:110px;
	z-index:3;
	}
#bot_nav_1 {
	position:absolute;
	top:410px;
	left:110px;
	z-index:2;
	}
#bot_nav_2 {
	position:absolute;
	top:410px;
	left:402px;
	z-index:2;
	}
#bot_nav_3 {
	position:absolute;
	top:410px;
	left:694px;
	z-index:2;
	}
#bot_text {
	position:absolute;
	top:724px;
	left:110px;
	}
#bot_limit {
	position:absolute;
	top:750px;
	left:0px;
	width:10px;
	height:30px;
	visibility:hidden;
	}
#menu {
	position:absolute;
	top:135px;
	left:538px;
	}